/* GLOBAL */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;

    --color-white: #f3f3f3;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --color-green: #37AF65;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-position: center;
    background-size: cover;

    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-white);
}

p {
    font-size: 1.8rem;
}

h1, p, label {
    margin-bottom: 1.1rem;
}

label {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.5rem;
}

span {
    margin-left: 0.25rem;
    font-size: 1.4rem;
}

input, select, textarea {
    transition: border .5s;
}

input:hover, select:hover, textarea:hover {
    border: 2px solid rgba(27, 27, 200, 0.8);
}

/* CLASSES UTILITÃRIAS */
.text-center {
    text-align: center;
}

/* SURVEY */
#survey {
    width: 72rem; /* Mudar p/ 100% dps*/
    margin: 50px auto 0 auto;
}

/* SURVEY > HEADER */
#header {
    margin-bottom: 3rem;
}

#title {
    font-weight: 400;
    line-height: 1.2;
    font-size: 3.2rem;
}

#description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/* SURVEY > FORM */
#survey-form {
    padding: 40px;
    background-color: var(--color-darkblue-alpha);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    box-shadow: 5px 10px 12px 3px black;
}

.form-element {
    padding: 4px;
    display: flex;
    flex-direction: column;
}

.form-input {
    width: 100%;
    height: 3.8rem;
    padding: 6px 12px;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.4rem;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-size: 1.6rem;
}   

input[type="radio"], .checkbox {
    margin-right: 1rem;
    min-width: 2rem;
    min-height: 2rem;
}

#comments {
    padding: 10px;
    min-height: 12rem;
    max-height: 20rem;
    resize: none;
    font-family: inherit;
    color: #000000;
    font-size: inherit;
    line-height: inherit;
}

#comment-text {
    margin-bottom: 0.8rem;
}

#button-area {
    margin-bottom: 20px;
}

#button-area, #button {
    background-color: var(--color-green);
}

#button {
    padding: 1.2rem;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    transition: background-color .3s;
}

#button:hover {
    border: 5x solid white;
    background-color: #1f5333;
}
